<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563630856121-92nqea2n5b938s4lakt20ehcrn5moigj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563630856121-92nqea2n5b938s4lakt20ehcrn5moigj</string>
	<key>API_KEY</key>
	<string>AIzaSyBaEvZ2sRu1SQjParyvXKFpc2_iVEhf74A</string>
	<key>GCM_SENDER_ID</key>
	<string>563630856121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-d71e2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-d71e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563630856121:ios:2b2712ade9bd4babce4868</string>
</dict>
</plist>